//ENERGY 
.energy {
	background: $darkblue;
	padding: 4% 0;
	&__listItems {
		width: 80%;
		margin: 0 auto;
		padding: 3% 0;
		@media(max-width: 940px) {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
		}
		@media(max-width: 767px) {
			flex-flow: column wrap;
			align-items: center;
		}
		li {
			width: 18%;
			padding: 10px;
			margin: 0 5px;
			text-align: center;
			background: darken($blue,17%);
			border-radius: 10px;
			transition: all 1s;
			cursor: pointer;
			&:hover {
				background: $blue;
			}
			@media(max-width: 940px) {
				width: 40%;
				margin: 5px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				padding: 1px 20px;
			}
			@media(max-width: 767px) {
				width: 50%;
			}
		}
	}
	&__itemInfo {
		display: none;
		width: 80%;
		margin: 0 auto;
		text-align: center;
		h3 {
			margin-top: 4rem;
		}
		p {
			color: $lightestgreen;
			margin-bottom: 4rem;
			@media (max-width: 480px) {
				@include bodyStyle(15px, 1.5rem, 300)
				text-align: justify;
			}
		}
		canvas {
			display: block;
			max-width: 100%;
		}
	}
}

svg {
	width: 90%;
	@media(max-width: 940px) {
		width: 30%;
	}
	path {
	fill: $lightestgreen;
	}
}

.legendContainer {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	@media (max-width: 940px) {
		justify-content: center;
	}
	li {
		padding-left: 22px;
		padding-right: 25px;
		color: $lightestgreen;
		@media (max-width: 767px) {
			@include bodyStyle(15px, 1.5rem, 300);
		}
		&:before {
			content: '';
			display: block;
			position: relative;
			width: 13px;
			height: 13px;
			left: -20px;
			top: 19px;
			@media (max-width: 767px) {
				width: 11px;
				height: 11px;
				top: 16px;
			}
		}
		&.ca::before {
			background: #809275;
		}
		&.fr::before {
			background: #A3AFF4;
		}
		&.de::before {
			background: #F189E6;
		}
		&.it::before {
			background: #F1594D;
		}
		&.jp::before {
			background: #BFDCB0;
		}
		&.ru::before {
			background: #81CACA;
		}
		&.us::before {
			background: #F0AEAB;
		}
		&.gb::before {
			background: #EFE232;
		}
		&:last-child {
			@include bodyStyle(11px, 1.1rem, 300);
			flex: 1 0 100%;
			margin-top: 17px;
			padding: 0;
			&::before {
				content: '';
				display: none;
			}
		}
	}
}