html {
	font-size: 10px; //this is the fall-back if rems are not supported by the browser
	font-size: 62.5%;
}

body {
	@include bodyStyle(18px, 1.8rem, 300);
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 1171px;
	margin: 0 auto;  
}

ul {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 0;
	li {
	list-style: none;
	}
}

a {
	text-decoration: none;
}

h1 {
	@include headingStyle(70px, 7rem, 700);
	text-transform: uppercase;
	letter-spacing: 2rem;
	margin: 0;
	padding: 0 0 2rem;
}

h2 {
	@include headingStyle(30px, 3rem, 400);
	text-align: center;
	margin: 0;
}

h3 {
	@include bodyStyle(26px, 2.6rem, 300);
	margin: 0;
}

h1, h2, h3 {
	color: lighten($lightestgreen, 10%); 
}