// RESOURCES
.resources {
	margin: 0;
	padding: 4% 0 0 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/heroimage.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	p {
		color: $lightestgreen;
	}
	h3 {
		margin: 0;
		padding: 3% 0 0 0;
		text-transform: uppercase;
		letter-spacing: 5px;
		color: $lightestgreen;
		@include headingStyle(35px, 3.5rem, 400);
	}
}

.resources__climateResources__info {
	width: 60%;
	margin: 0 auto;
	padding: 2% 0;
}

.resources__climateResources, .resources__renewableResources {
	background: none;
	margin-top: 3%;
	padding: 3% 5%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	a {
		img{
		// width: 300px;
		height: auto;
		}
		.imgResize {
				width: 500px;
		}
	}
}

.resources__renewableResources {
	&__title {
		padding-top: 5%;
	}
	a {
		&:hover p, &:hover img {
			color: $lightgreen;
		}
	}
	a img {
		width: 300px;
		transition: all 0.45s ease-in-out;
	}
	a p {
		color: $blue;
		transition: all 0.45s ease-in-out;
	}
}

.footer__wrapper {
	padding: 1% 2%;
	flex-flow: column wrap;
	justify-content: space-around;
	.footer_links {
		width: 100%;
		ul {
			display: flex;
			margin: auto;
		}
	}
	.footer__devs {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		p {
			width: 15%;
		}
		a {
			color: $blue;
			text-transform: uppercase;
			transition: all 0.45s ease-in-out;
			&:hover {
				color: $lightestgreen;
			}
		}
	}
	.footer__links {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		ul {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			i {
				color: $blue;
				font-size: 35px;
				font-size: 3.5rem;
				transition: all 0.45s ease-in-out;
				&:hover {
					color: $lightestgreen;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.resources {
		p {
			text-align: left;
			margin: 4%;
		}
		h3 {
			margin: 5% auto;
		}
	}

	.resources__renewableResources {
		&__title {
			width: 90%;
			&::before {
				content: '';
				display: block;
				width: 40%;
				height: 1px;
				background: #fff;
				position: relative;
				top: -12px;
				margin: 0 29%;
			}
		}

	}
	.resources__climateResources {
		&__info {
			width: 88%;
		}
		a {
			.imgResize {
				width: 90%;
				margin-bottom: 9%;
			}
		}
	}

	.footer__wrapper .footer__devs {
		flex-flow: row wrap;
		p {
			width: 100%;
			text-align: center;
			font-size: 1.8rem;
			margin: 2%;

		}

	}
}