//VARIABLES
$lightgreen: #C9EFB4;
$darkblue: #140F4D;
$blue: #5B6195;
$lightestgreen: #D3F2CB;

$headerFont: 'Montserrat', sans-serif;
$baseFont: 'Open Sans', sans-serif;

//MIXINS
@mixin headingStyle($pixelSize, $remSize, $weight) {
	font-family: $headerFont;
	font-size: $pixelSize;
	font-size: $remSize;
	font-weight: $weight;
}

@mixin bodyStyle($pixelSize, $remSize, $weight) {
	font-family: $baseFont;
	font-size: $pixelSize;
	font-size: $remSize;
	font-weight: $weight;
}